# IntelliJ project files
.idea
*.iml
out
gen
# Processing files
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

# Composer
composer.lock
vendor

# Project specific files
config/config.php
